<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="text" type="text" /><button onclick="send()">Send</button>
<button onclick="closeWebSocket()">Close</button>
<div id="message">
</div>
</body>
<script th:inline="javascript">
    var url=[[${#request.getRemoteHost()}]];
    console.log(url)
    var websocket = null;
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost:6060/websocket/20/zs");
        // 建立成功后的回调函数
        websocket.onopen = function (ev) {
            setMessageInnerHTML("open");
        }
        websocket.onclose=function(ws){
            setMessageInnerHTML("close"+ws);
            console.log(ws)
        }
        websocket.onmessage=function (ev) {
            setMessageInnerHTML(ev.data);
        }
        websocket.onerror = (ws) => {
            console.log("发送错误！", ws);
        }

        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function(){
            websocket.close();
        }


    }else {
        alert("浏览器不支持");
    }
    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    //发送消息
    function send(){
        var message = document.getElementById('text').value;
        websocket.send(message);
    }

</script>
</html>